*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Display", sans-serif;
}
body{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 695vh;
    width: 100%;
}
.header-section{
    padding-left: 120px;
    padding-right: 120px;
}
input:focus{
    outline: none;
    font-size: 18px;
}
#link{
    font-weight: bold;
    cursor: pointer;
}
h1{
    width: 400px;
    font-size: 28px;
    line-height: 35px;
}
h4{
    margin-bottom: 5px;
}
.slide-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.hoddie-images{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
#slide-icon{
    width: 40px;
}
.up-slide,
.down-slide{
    border: 1px solid #F5F7F8;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7F8;
}
.product-page-container{
    height: 200vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.product-image img{
    height: 38%;
    width: 90%;
}
.product-image{
    height: 100%;
    width: 40%;
}
#notification-span{
    color: #25549E;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
#stock{
    display:flex;
    align-items: center;
    gap: 300px
}
.stock img{
    height: 25px;
    margin-top: 20px;
}
#product-price{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 22px;
}
.main-price{
    font-size: 25px;
}
.product-old-price{
    font-size: 15px;
    text-decoration: line-through;
    color: #E0E0E0;
    font-size: 14px;
}
.rating{
    background-color: #F5F7F8;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}
.rating p{
    color: #424242;
    font-size: 16px;
    line-height: 24px;
}
.rating #rater-username{
    color: #424242;
    font-weight: bold;
}
.CST{
    margin-top: 30px;
}
.CST label{
    color: #242424;
    font-weight: bold;
    font-size: 20px;
}
.CST img{
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;

}
#sizes{
    display: inline-flex;
    align-items: center;
    gap: 5px;   
}
.large:active, .medium:active, .small:active, .extra-large:active{
    border: 1px solid #000;
}
.large, .medium, .small, .extra-large{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #EDEEEE;
    padding: 10px 24px 10px 24px;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;

}
.message-box{
    margin-top: 18px;
    height: 22%;
}
#instruction{
    font-weight: 700;
    color: #242424;
    margin-bottom: 10px;
}
#message{
    margin-top: 12px;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    border: 1px solid #E0E0E0;
    text-indent: 14px;
}
#message::placeholder{
    color: #B4B4B4;
    text-indent: 14px;
    font-size: 16px;
}
.offer{
    margin-top: 20px;
}
.offer>p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}
#offer1 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
#offer1 i{
    font-size: 22px;
}
.hoodie-button{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.number{
    padding: 15px;
    height: 45px;
    width: 160px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
}
.minus-btn, .plus-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
}
.quantity-value{
    width: 100%;
    border: none;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    pointer-events: none;
    margin-top: -2px;
}
.quantity-value:focus-visible{
    outline: none;
}
#get-hoodie-button{
    height: 45px;
    width: 280px;
    color: white;
    font-weight: 700;
    background-color: #25549E;
    border: 1px solid #25549E;
    border-radius: 4px;
    cursor: pointer;
}
.GPM{
    margin-top: 10px;
}
.GPM p{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}
.GPM img{
    margin-left: 20px;
}
hr{
    width: 55px;
}
.hr-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.safe-check-out{
    margin-top: 28px;
}
/* GURANTY SECTION */
.guranty-section{
    margin-top: 130px;
    padding: 70px;
    background-color: #FAFBFC;
    height: 300px;
}
.quality, .delivery, .return, .packaging{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 230px;
}
.quality-image, .delivery-image, .return-image, .packaging-image{
    margin-bottom: 20px;
}
.guranty{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
/*REVIEW SECTION*/
.reviews-section{
    padding-left: 120px;
    padding-right: 120px;
 }
 .reviews{
    margin-top: 100px;
}
.reviews>p, h2{
    text-align: center;
}
.reviews>p{
    margin-top: 6px;
}
.review-content{
    background-color: #FAFBFC;
    height: 90vh;
    margin-top: 30px;
}
/* STATIC REVIEW PART */
/* FIRST REVIEW SECTION */
.reviews-container{
    display: flex;
    justify-content: space-between;
    padding: 90px;
    height: 65vh;
    gap: 40px;
    margin-top: 34px;
}
#rating{
    display: inline-flex;
    align-items:center;
    gap: 10px;
}
.rating-texts{
    margin-top: 20px;
}
#second-rating-content{
    width: 600px;
    margin-top: 10px;
}
.detail-of-purchase-content{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    padding-left: 15PX;
}
.purchase-content{
    flex-direction: column;
}
.detail-of-purchase-content-prices{
    display: inline-flex;
    margin-top: 5px;
    align-items: center;
    gap: 4px;
}
.details-of-purchase{
    margin-top: 35px;
}
.detail-of-purchase-p-content{
    text-decoration: underline;
}
#old-price{
    color: #E0E0E0;
    font-size: 12px;
}
.item-purchased img {
    width: 99%;
    margin-top: -5px;
} 
/* STATIC REVIEW PART */
.review-slide-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}
.review-left-button, .review-right-button{
    border: 1px solid #FAFBFC;
    background-color: red;
    height: 48px;
    width: 48px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* CUSTOM PRODUCTS */
.custom-product{
    margin-top: 120px;
}
.custom-product>p{
    text-align: center;
    margin-top: 10px;
}
.custom-product button{
    height: 45px;
    width: 180px;
    border-radius: 4px;
    border: .3px solid #25549E;
    color: #25549E;
    font-weight: 700;
}
.matching-sets{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.matching-sets img {
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 8px;
}
.matching-sets-left-button, .matching-sets-right-button{
    border: 1px solid #FAFBFC;
    background-color: red;
    height: 48px;
    width: 48px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.view-all-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/*FAQS*/
.question-content-part1, .question-content-part2{
    margin-top: 30px;
}
.questions-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 100px;
    margin-bottom: 80px;
    background-color: #FAFBFC;
    padding: 60px 60px 60px 120px;
}
.question-content-part1 h2{
    font-size: 30px;
    width: 430px;
    font-weight: -600;
}
.question-content-part1 p{
    text-align: center;
}
.faq-questions> li{
    border: 1px solid #E0E0E0;
    padding: 10px 20px 0 20px;
    list-style-type: none;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    width: 90%;
}
.questions span{
    cursor: pointer;
    color: #242424;
    font-size: 20px;
    font-weight: 400;
}
.faq-questions-content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.answer-view-icon{
    margin-top: 5px;
    cursor: pointer;
}
.faq-answer{
    margin-top: 16px;
    color: #424242;
    height: 0;
    overflow: hidden;
}
.faq-answer-opened{
    transition: 0.1s ease-in-out;
    padding-bottom: 20px;
    height: initial;
}
.arrow-rotate{
    transition: 0.2s;
}
.arrow-rotation{
    transform: rotate(180deg);
}  
/* NEXT IN LINE */
.next-on-line{
    margin-top: 30px;
    margin-bottom: 80px;
}
.next-on-line>p{
    text-align: center;
    margin: 10px 0 10px 0;
}
.next-on-line-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.next-on-line-image{
    position: relative;
    height: 45vh;
}
.hover-details{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.next-on-line-image:hover .hover-details{
    visibility: visible;
}
.next-on-line-slide-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
/* FOOTER */
.footer{
    height: 100px;
    background-color: #FAFBFC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-list a {
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}
.footer-list li {
    list-style-type: none;
}
@media screen and (max-width:600px){
    .stock img{
        display: none;
    }
    #link{
        font-weight: 400;
        font-size: 7px;
    }
    .product-page-container{
        flex-direction: column;
        align-items: center;
        height: 250vh;
    }
    .hoddie-images{
        align-items: center;
    }
    .product-image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
    .product-image img{
        height: 60%;
        width: 190px;
        
    }
    .header-section,
    .overview-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    #notification-span{
        font-size: 7px;
    }
    .product-details{
        width: 170px;
    }
    h1{
        width: 160px;
        font-size: 10px;
        line-height:12px;
    }
    #product-price{
        margin-top: 8px;
    }
    .main-price{
        font-size: 10px;
    }
    .product-old-price{
        font-size: 8px;
    }
    .rating{
        padding: 10px;
        margin-top: 10px;
        width: 165px;
    }
    .rating p{
        font-size: 8px;
        line-height: 10px;
    }
    .rating #rater-username{
        font-weight: 300;
    }
    .CST{
        margin-top: 20px;
    }
    .CST label{
        font-weight: 300;
        font-size: 12px;
    }
    .CST img{
        margin-top: 5px;
        margin-bottom: 8px;
        height: 20px;
    
    }
    .large, .medium, .small, .extra-large{
        padding: 10px 12px  10px 12px;
        border-radius: 8px;
        font-size: 5px;
        height: 8px;   
    }
    .message-box{
        margin-top: 18px;
        height: 22%;
    }
    #instruction{
        font-weight: 400;
        font-size: 14px;
    }
    #note-text{
        font-size: 10px;
    }

    #message::placeholder{
        font-size: 10px;
    }
    .offer{
        margin-top: 10px;
    }
    .offer>p{
        font-size: 10px;
        font-weight: 200;
        margin-bottom: 5px;
    }
    #offer1 {
           margin-bottom: 4px;
           font-size: 10px;
           width: 160px;
    }
    #offer1 i{
           font-size: 10px;
       }
       .number{
           height: 15px;
           width: 70px;
       }
       .minus-btn, .plus-btn{
           font-size: 8px;
       }
        .quantity-value{
            font-size: 10px;
        }
        .hoodie-button{
            gap: 4px;
        }
        #get-hoodie-button{
            height: 31px;
            width: 98px;
            font-weight: 300;
            font-size: 10px;
        } 
        #check-out-p{
            font-size: 10px;
        }
        hr{
            display: none;
        }
        .GPM{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-left: -20px;
            row-gap: 10px;
        }
        .safe-check-out{
            margin-top: 28px;
       }
        /* guranty section */
        .guranty-section{
            padding: 0px;
            padding-top: 20px;
            width: 37%;
            height: 500px;
            margin-left: 33%;
          
        }
        .quality, .delivery, .return, .packaging{
            width: 120px;
            font-size: 10px;
        }
        .quality-image, .delivery-image, .return-image, .packaging-image{
            margin-bottom: 7px;
        }
        .quality-image img, .delivery-image img, .return-image img, .packaging-image img{
            width: 30px;
            height: 30px;
        }
        .guranty{
            flex-direction: column;
            margin-left: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
         /* review section */
.reviews-section{
    padding-left: 10px;
    padding-right: 10px;
 }
.reviews>p{
    font-size: 10px;
}
.review-content{
    background-color: RED;
    height: 70vh;
    margin-top: 30px;
    width: 40%;
    margin-left: 33%;

}
h2{
    font-size: 11px;
}
/* STATIC REVIEW PART */
/* FIRST REVIEW SECTION */
.reviews-container{
    padding-right: 10px;
    padding-left: 10px;
}
#rating i{
    width: 13px;
}
.rating-texts{
        margin-top: 10px;
        font-size: 10px;
        width: 174px;
}
#second-rating-content{
        width: 174px;
        margin-top: 2px;
        font-size: 10px;
}
.detail-of-purchase-content{
    margin-top: 10px;
    gap: 10px;
    padding-left: 0px;
}
.reviewer-image img{
    width: 30px;
    height: 30px;
}
.purchase-content{
    flex-direction: column;
}
.detail-of-purchase-content-prices{
    margin-top: 0px;
}
.details-of-purchase>p{
    font-size: 10px;
}
.reviewer-name{
    font-size: 12px;
}
.details-of-purchase{
    margin-top: 35px;
}
.detail-of-purchase-p-content{
    font-size: 10px;

}
#current-price{
    font-size: 10px;
}
#old-price{
    font-size: 8px;
    margin-top: -1px;
}
.item-purchased img {
    display: none;
} 
.review-slide-buttons{
    gap: 0px;
    margin-top: -100px;

}
/* STATIC REVIEW PART */
.review-slide-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}
.review-left-button img, .review-right-button img{
    height: 10px;
    width: 10px;
}
.review-left-button, .review-right-button{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: blue;
        padding: 10px;
        margin-top: 60px;
}
/* CUSTOM PRODUCTS */
.custom-product{
    margin-top: 120px;
}
.custom-product>p{
    font-size: 8px;

}
.custom-product button{
    height: 35px;
    width: 150px;
    font-weight: 400;
    font-size: 12px;
}
.matching-sets{
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}
.matching-sets img {
    padding: 20px;
    border-radius: 8px;
}
.matching-sets-left-button, .matching-sets-right-button{
    border: 1px solid #FAFBFC;
    background-color: red;
    height: 48px;
    width: 48px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.view-all-button>button{
    font-size: 10px;
    height: 30px;
    width: 140px;
    padding: 10px;
}
.matching-sets-left-button, .matching-sets-right-button{
    height: 30px;
    width: 30px;
}
.matching-sets-left-button>img, .matching-sets-right-button>img{
    height: 60px;
    width: 60px;
}
.matching-sets img {
    width: 200px;
}
/* faqs */
.questions-container{
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 0px
}
.question-content-part1 h2{
    font-size: 13px;
    width: 430px;
    font-weight: 100;
}
.arrow-rotate{
    height: 8px;
    width: 8px;
}
.faq-questions> li{
    padding: 10px;
    margin-bottom: 0px;
    width: 180px;
}
.questions span{
    font-size: 10px;
    font-weight: 100;
}
#faq-notice{
    text-align: center;
    font-size: 5px;
    display: none;
}
.questions{
    line-height: 12px;
}
.faq-questions-content{
    gap: 0px;
}
.faq-answer>p {
    font-size: 10px;
}
/* NEXT IN LINE  */
    .next-on-line>p{
        display: none;
    }
    .next-on-line-images{
        flex-direction: column;
    }
    .next-on-line-image{
        position: relative;
        height: 20vh;
    }
    .next-on-line-image img{
        width: 150px;
    }
    .next-on-line-image:hover .hover-details{
        visibility: hidden;
    }
    .next-on-line-slide-buttons img{
        height: 10px;
    }
    .left-button,
    .right-button{
        height: 20px;
        width: 20px;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
       
    }
    /* FOOTER */
    .footer{
      padding-right: 0px;
      padding-left: 0px;
      background-color: red;
      width: 190px;
      margin-left: 33%;
    }
    .footer-list{
        gap: 10px;
    }
    .footer-list a {
      font-size: 8px;
    }
/* NEXT IN LINE
.next-on-line{
    margin-top: 30px;
    margin-bottom: 80px;
}
.next-on-line>p{
    text-align: center;
    margin: 10px 0 10px 0;
}
.next-on-line-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.next-on-line-image{
    position: relative;
    height: 45vh;
}
.hover-details{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.next-on-line-image:hover .hover-details{
    visibility: visible;
}
.next-on-line-slide-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
/* FOOTER */
/*.footer{
    height: 100px;
    background-color: #FAFBFC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-list a {
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}
.footer-list li {
    list-style-type: none;
} */

    }